@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0.0 0.0% 100.0%;
    --foreground: 0.0 0.0% 0.0%;
    --muted: 23.7 100.0% 63.3%;
    --muted-foreground: 0.0 0.0% 100.0%;
    --popover: 0.0 0.0% 100.0%;
    --popover-foreground: 0.0 0.0% 0.0%;
    --border: 23.4 100.0% 63.3%;
    --input: 23.4 100.0% 63.3%;
    --card: 0.0 0.0% 100.0%;
    --card-foreground: 0.0 0.0% 0.0%;
    --primary: 0.0 100.0% 50.0%;
    --primary-foreground: 0.0 0.0% 100.0%;
    --secondary: 23.7 100.0% 63.3%;
    --secondary-foreground: 0.0 0.0% 0.0%;
    --accent: 23.4 100.0% 63.3%;
    --accent-foreground: 0.0 0.0% 0.0%;
    --destructive: 0.0 100.0% 50.0%;
    --destructive-foreground: 0.0 0.0% 100.0%;
    --ring: 23.4 100.0% 63.3%;
    --radius: 0.5rem;
    --sidebar-background: 0.0 0.0% 100.0%;
    --sidebar-foreground: 23.4 100.0% 63.3%;
    --sidebar-primary: 0.0 100.0% 50.0%;
    --sidebar-primary-foreground: 0.0 0.0% 100.0%;
    --sidebar-accent: 23.7 100.0% 63.3%;
    --sidebar-accent-foreground: 0.0 0.0% 0.0%;
    --sidebar-border: 23.4 100.0% 63.3%;
    --sidebar-ring: 0.0 100.0% 50.0%;
  }
  .no-scrollbar::-webkit-scrollbar{
    width: 0px;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  .mal{
    font-family: 'Noto Sans Malayalam', sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }

  .screen {
    @apply max-w-[1200px] mx-auto;
  }

  .nav-link-home {
    @apply text-primary rounded-full px-3 flex py-2 gap-1 hover:bg-primary/10 items-center;
  }

  .nav-link-home.active {
    @apply bg-primary hover:scale-[0.98] items-center text-white;
  }
  .sidebar{
    @apply z-10;
  } 
  .active-card{
    @apply bg-green-50 p-1 border-[0.01rem] border-green-600 text-green-600 rounded-md;
  }
  .inactive-card{
    @apply bg-red-50 p-1 border-[0.01rem] border-red-600 text-red-600 rounded-md;
  }
  .cardbtn{
    @apply px-2 py-1 rounded-md ;
  }
  .cardbtn.redbtn{
    @apply bg-red-500 text-white;
  }
  .cardbtn.bluebtn{
    @apply bg-blue-500 text-white;
  }
  .cardbtn.greenbtn{
    @apply bg-green-500 text-white;
  }
}